---
title: Coding Standards
---

<!DOCTYPE HTML>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />

<head>
<title>ChaiScript - Coding Standards.</title>
{% include common.html %}

</head>


<body>

{% include header.html %}

<div class="well well-sm">
  <h3>ChaiScript strives for the highest quality and most portable C++ possible</h3>

  The goal is to have 0 compiler warnings with clang, msvc and g++, with nearly all warnings turned on. We also use the clang, cppcheck and MSVC static analyzers on a semi-regular basis and strive to have 0 reports from those as well.

  Some compiler's warnings are incorrect or too verbose, so they must be disabled in some cases. We disable them as locally as possible inside of the code with annotations as to why they are disabled.
</div>

<div class="alert alert-success">
  <a class="alert-link" href="https://gist.github.com/lefticus/10191322">Coding Standards in their entirety.</a> Or keep reading below for the inline version.
</div>


<div class="body-with-margin">


{% gist  10191322 %}
</div>


</body>
