---
title: Examples
---

<!DOCTYPE HTML>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />

<head>

<title>ChaiScript - Examples.</title>
{% include common.html %}

</head>


<body>

{% include header.html %}

<div class="well well-sm">
  <h3>Easy to follow complete examples.</h3>

  For more examples, look at the unittests folder in <a href="https://github.com/ChaiScript/ChaiScript/tree/master/unittests">source control</a>. The unittests cover every feature of ChaiScript.
</div>

{% assign posts = site.tags.example | sort: 'id' %}

<div class="body-with-margin">
  <div class="panel panel-default">
    <div class="panel-body">
      <ul>
        {% for post in posts %}
        <li>
        <a href="#{{ post.title | replace: ' ', '_' }}">{{ post.title }}</a>
        </li>
        {{ post.excerpt }}
        {% endfor %}
      </ul>
    </div>
  </div>


  {% for post in posts %}
  <div class="panel panel-default">
    <div class="panel-body">
      <h2 id="{{ post.title  | replace: ' ', '_'  }}"> {{ post.title }} </h2>
      {{ post.content}}
    </div>
  </div>
  {% endfor %}

</div>

</body>
