---
title: Home Page
---

<!DOCTYPE HTML>

<head>

{% include common.html %}

</head>


<body>

{% include header.html %}

<div class="jumbotron cs-blue">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1>ChaiScript</h1>
        <p>an easy to use embedded scripting language for C++.</p>
        <a class="btn btn-default btn-lg "href="/releases.html">Download</a>
      </div>
      <div class="col-md-8">
        {% gist 9190735 %}
      </div>
    </div>
  </div>
</div>



<div class="well well-lg">
  <h2>ChaiScript is...</h2>
</div>


<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Succinct</h3>
        </div>
        <div class="panel-body">
          The above is a complete example of exposing a function to ChaiScript, calling it with a parameter and returning a value.
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Header Only</h3>
        </div>
        <div class="panel-body">
          There are no external tools requied, no preprocessor, no libraries, just your C++11 compliant compiler.
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Free</h3>
        </div>
        <div class="panel-body">
          ChaiScript is licensed with the BSD license and is free to use in your free or commercial projects.  
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Stable</h3>
        </div>
        <div class="panel-body">
          ChaiScript has been making stable releases since 2009. No bugfix or feature is made without a corresponding unit test.
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Thread Safe</h3>
        </div>
        <div class="panel-body">
          By default ChaiScript is thread safe. Thread safety can be disabled for enhanced performance.
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Portable</h3>
        </div>
        <div class="panel-body">
          ChaiScript is fully tested for 32bit and 64bit on Windows (MSVC2013), clang++ and g++.
        </div>
      </div>
    </div>
  </div>
</div>

</body>
