---
title: Home Page
---

<!DOCTYPE HTML>

<head>
<title>ChaiScript - Easy to use scripting for C++.</title>
{% include common.html %}


</head>


<body>

{% include header.html %}

<div class="jumbotron cs-blue">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1>ChaiScript</h1>
        <p>an easy to use embedded scripting language for C++.</p>
        <a class="btn btn-default btn-lg "href="/releases.html">Download</a>
      </div>
      <div class="col-md-8">
        {% gist 9190735 %}
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">

    <div class="col-md-4">
      <h3><i class="fa fa-magic"></i> Straightforward</h3>
      The above is a complete example of exposing a function to ChaiScript, calling it with a parameter and returning a value.
    </div>

    <div class="col-md-4">
      <h3><i class="fa fa-file-text"></i> Header Only</h3>
      There are no external tools requied, no preprocessor, no libraries, just your C++11 compliant compiler.
    </div>

    <div class="col-md-4">
      <h3><i class="fa fa-microphone"></i> Free</h3>
      ChaiScript is licensed with the BSD license and is free to use in your free or commercial projects.  
    </div>
  </div>

  <div class="row">

    <div class="col-md-4">
      <h3><i class="fa fa-tachometer"></i> Stable</h3>
      <a href="https://travis-ci.org/ChaiScript/ChaiScript"><img src="https://travis-ci.org/ChaiScript/ChaiScript.png?branch=develop"/></a>
      <a href='https://coveralls.io/r/ChaiScript/ChaiScript?branch=master'><img src='https://coveralls.io/repos/ChaiScript/ChaiScript/badge.png?branch=master' alt='Coverage Status' /></a><br/><br/>
      ChaiScript has been making stable releases since 2009. No bugfix or feature is made without a corresponding unit test.
    </div>

    <div class="col-md-4">
      <h3><i class="fa fa-check"></i> Thread Safe</h3>
      By default ChaiScript is thread safe. Thread safety can be disabled for enhanced performance.
    </div>

    <div class="col-md-4">
      <h3><i class="fa fa-linux"></i> <i class="fa fa-windows"></i> <i class="fa fa-apple"></i> Portable</h3>
      ChaiScript is fully tested for 32bit and 64bit on Windows (MSVC2013), clang++ and g++.
    </div>
  </div>
</div>

</body>
