---
title: Releases
---

<!DOCTYPE HTML>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />

<head>
<title>ChaiScript - Official releases.</title>
{% include common.html %}
</head>


<body>

{% include header.html %}

<div class="well well-sm">
  <h3>Releases are officially managed on <a href="https://github.com/ChaiScript/ChaiScript/releases">github</a>.</h3>

  Github is the authoritative list, this list is provided for reference.
</div>

<div class="body-with-margin">

  {% assign posts = site.tags.release %}

  {% for post in posts %}

  {{ post.content}}

  {% endfor %}
</div>

</body>
