---
title: Support
---

<!DOCTYPE HTML>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />

<head>
<title>ChaiScript - Support.</title>
{% include common.html %}

</head>


<body>

{% include header.html %}

<div class="well well-sm">
  <h3>Support tickets are handled with <a href="https://github.com/ChaiScript/ChaiScript/issues">github</a> issues.</h3>

  For general questions, consider using <a href="http://stackoverflow.com/questions/tagged/chaiscript">stackoverflow</a>.
</div>

<div class="alert alert-success">
  Please contact <a class="alert-link" href="http://blog.emptycrate.com/contact">jason at emptycrate.com</a> for other support services.
</div>



</body>
