---
title: Support
---

<!DOCTYPE HTML>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />

<head>

{% include common.html %}

</head>


<body>

{% include header.html %}

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Support</h3>
  </div>
  <div class="panel-body">
    Please use <a href="">github</a> or stackoverflow for <a href="http://stackoverflow.com/questions/tagged/chaiscript">support</a> questions. Please contact <a href="http://blog.emptycrate.com/contact">jason at emptycrate.com</a> for other support services.
  </div>
</div>



</body>
