<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>



<!-- START COPYING HERE -->
<link rel="stylesheet" href="gh-fork-ribbon.css">
<!--[if lt IE 9]>
<link rel="stylesheet" href="gh-fork-ribbon.ie.css">
<![endif]-->
<!-- END COPYING HERE -->


<style>
body { margin-top:45px; }
div.likebuttons {display: table; float: right; position: absolute; top: 0;}
div.likebutton {display: table-cell; }
.cs-blue {color:white; background: #31708f}
</style>



