<!-- TOP RIGHT RIBBON: START COPYING HERE -->
<div class="github-fork-ribbon-wrapper right">
  <div class="github-fork-ribbon">
    <a href="https://github.com/ChaiScript/ChaiScript">Fork me on GitHub</a>
  </div>
</div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-384017-5', 'chaiscript.com');
  ga('send', 'pageview');

</script>


<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">ChaiScript</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {% if page.url == '/releases.html'%} class='active' {% endif %}>
        <a href="/releases.html">Releases</a>
        </li>
        <li {% if page.url == '/examples.html'%} class='active' {% endif %}>
        <a href="/examples.html">Examples</a>
        </li>
        <li {% if page.url == '/docs.html'%} class='active' {% endif %}>
        <a href="/docs.html">Docs</a>
        </li>
        <li {% if page.url == '/support.html'%} class='active' {% endif %}>
        <a href="/support.html">Support</a>
        </li>
        <li {% if page.url == '/coding_standards.html'%} class='active' {% endif %}>
        <a href="/coding_standards.html">Coding Standards</a>
        </li>
        <li>
        <a href="https://travis-ci.org/ChaiScript/ChaiScript"><img src="https://travis-ci.org/ChaiScript/ChaiScript.png?branch=develop"/></a>
        </li>
        <li>
        <a href='https://coveralls.io/r/ChaiScript/ChaiScript?branch=master'><img src='https://coveralls.io/repos/ChaiScript/ChaiScript/badge.png?branch=master' alt='Coverage Status' /></a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="hidden-print">
  <div class="container">
    <ul class="list-inline">
      <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=ChaiScript&repo=ChaiScript&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      </li>
      <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=ChaiScript&repo=ChaiScript&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"></iframe>
      </li>
      <li>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://chaiscript.com" data-text="Easy Embedded Scripting for C++" data-counturl="http://chaiscript.com" data-count="horizontal"  data-via="@lefticus" data-lang="en">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </li>
      <li>
      <!-- Place this tag where you want the +1 button to render. -->
      <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="120" data-href="http://chaiscript.com"></div>

      <!-- Place this tag after the last +1 button tag. -->
      <script type="text/javascript">
(function() {
 var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
 po.src = 'https://apis.google.com/js/platform.js';
 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
 })();
      </script>
      </li>
    </ul>
  </div>
</div>



